Thumbs.db

#eclipse
.project
.classpath
.metadata
*.launch
org.*
bin
gradle.prefs

#idea
*.iml
*.ipr
*.iws
.idea
out

#gradle
build
.gradle

#runtime
run

#sbt
target
project/target
/.jvmopts
.bsp

#mac
.DS_Store

#travis
/travis-deploy-key
/travis-deploy-key.pub
