<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] [%date{ISO8601}] [%logger{36}] [%X{sourceThread}] [%X{akkaSource}] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="akka.http.impl.engine.client.PoolGateway" level="INFO" />
    <logger name="akka.io.TcpOutgoingConnection" level="INFO" />
    <logger name="com.typesafe.sslconfig.ssl.DefaultHostnameVerifier" level="INFO" />
    <logger name="akka.io.SimpleDnsManager" level="INFO" />
    <logger name="akka.actor.TimerScheduler" level="INFO" />

</configuration>